*.iml
.gradle
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
ceelo.code-workspace
gradle/wrapper/gradle-wrapper.jar
/.idea/
/data/
webapp.tar
/app/schemas/game.ceelo.CeeLoApp.CeeloDatabase/1.json
